<header class='top-page-header'>
  <div class='search-bar-contents'>
    <div class='icon'>
      <%= link_to image_tag("logo_transparent.png"), "/" %>
    </div>

    <%= search_form_for @q, url: search_apps_path do |f| %>
      <%= f.search_field :name_cont %>
      <%= f.collection_select :tags_name_eq, @tag_record, :name, :name,  include_blank: '指定なし' %>
      <%= f.submit 'Search' %>
    <% end %>

    <div class='nav'>
      <nav id="menubar"><ul>
        <li><%= sort_link(@q, :content_review_summary, "Recommend", default_order: :desc) %></li>
        <li><%= sort_link(@q, :price_discount_pct, "Discount", default_order: :desc) %></li>
        <li><%= sort_link(@q, :content_release_date, "Release date", default_order: :desc) %></li>
      </ul></nav>
    </div>
  </div>
</header>