<div class="wrapper">
  <%# <%= render "side_bar" %> 
  <%# <%= render "main_chat" %> 
</div>

<%= @app_info %>
<%= @image_header %>
<%= @image_hd %>
<%= @image_low %>
<%= @movie %>
<%= @content %>
<%= @tag %>
<%= @price %>
