<%= render "shared/header" %>

<div id="container">
  <div id="contents">

    <section id="apps">
      <h3>Apps</h3>
      <% @applists.each do |app| %>
        <div class='list'>
          <%= link_to app_path(app.id) do %>
            <div class='item-content'>
              <%# <div class='item-img'> %>
                <%= image_tag app.content.header_image_url, class: "img" %>
              <%# </div> %>

              <div class='item-center'>
                <h4><%= app.name %></h4>
                <div class='item-review_summary'><%= app.content.review_summary %></div>
                <% if app.content.description.present?%>
                  <div class='item-description'>
                    <%= app.content.description.truncate(150) %>
                  </div>
                <% end %>
              </div>

              <div class='item-right'>
                <div class='price'>
                  <% app.price.last(1).each do |record| %>
                    <% if record.discount_pct.present?%>
                      <div class='item-review_summary'><%= record.discount_pct %></div>
                      <div class='item-discount_original_price'><%= record.discount_original_price %></div>
                      <div class='item-review_summary'><%= record.discount_final_price %></div>
                    <% else %>
                      <div class='item-review_summary'><%= record.game_purchase_price %></div>
                    <% end %>
                  <% end %>
                </div>
                <div class='store_page'>
                  <%# <%= link_to 'store page', "https://store.steampowered.com/app/#{app.appid}", class: "store" %>
                </div>
                <div class='release_date'>
                  <%= app.content.release_date.strftime('%Y/%m/%d') %>
                </div>
              </div>

            </div>

            <div class='item-tag'>
              <ul><% app.tags.each do |record| %>
                  <li class=app_tag><%= link_to record.name, controller: "apps", action: "search", q: {tags_name_eq: record.name} %></li>
                <% end %></ul>
            </div>

          <% end %>
        </div>
      <% end %>
    </section>

    <div class='pagination-top'><%= paginate @applists %></div>

  </div>
</div>

<footer>
  <small>Copyright&copy; <a href="index.html">SAMPLE COMPANY</a> All Rights Reserved.</small>
  <span class="pr">《<a href="https://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
</footer>

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>
