<%= render "shared/header" %>

<div id="container">
  <div id="contents">
    <section id="apps">
      <h2>Apps</h2>

      <% @applists.each do |app| %>
        <div class='list'>
          <%= link_to app_path(app.id) do %>
            <div class='item-img-content'>
              <%= image_tag app.content.header_image_url %>
              <div>
                <%= app.name %>
              </div>
              <div>
                <%= app.content.description %>
              </div>

              <div>
                <ul>
                  <% app.tags.each do |record| %>
                    <li class=app_tag><%= link_to record.name, "#company" %></li>
                  <% end %>
                </ul>
              </div>

              <div>
              <% app.price.each do |record| %>
                <%= record.game_purchase_price %>
              <% end %>
              </div>

            </div>
          <% end %>
        </div>
      <% end %>

      <div class="list">
      <img src="images/sample1.jpg" alt="">
      <h4>ここの見出しのサイズは、cssフォルダのstyle.cssの「.list h4」で変更できます。</h4>
      <p>左の画像の幅もstyle.cssの「.list img」のwidthの数字で変更できます。</p>
      </div>

    </section>
  </div>
</div>

<%# <%= render "shared/footer" %> %>

<footer>
  <small>Copyright&copy; <a href="index.html">SAMPLE COMPANY</a> All Rights Reserved.</small>
  <span class="pr">《<a href="https://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
</footer>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>
