<%= render "shared/header" %>

<div id="container">
  <div id="contents">
    <section id="apps">
      <h2>Apps</h2>


      <div class="list">

      <div>
      <%= image_tag @applist.content.header_image_url %>
      </div>

      <div>
            <%= @applist.name %>
      </div>

      <div>
      <%= @applist.content.description %>
      </div>

      <h4>ここの見出しのサイズは、cssフォルダのstyle.cssの「.list h4」で変更できます。</h4>
      <p>左の画像の幅もstyle.cssの「.list img」のwidthの数字で変更できます。</p>
      </div>


      <div id="photo">
        <img src="<%=@applist.screenshot_hd[0].url%>" alt="orange" width="700" height="350">
      </div>
      <div id="navi">
        <ul class="ex_clearfix">
        <% @applist.screenshot_hd.zip(@applist.screenshot_poor) do |screenshot_hd, screenshot_poor| %>
          <li><a href="<%=screenshot_hd.url%>"><img src="<%=screenshot_poor.url%>" width="60" height="60"></a></li>
        <% end %>
        </ul>
      </div>
      
    </section>


    <section id="price">

      <h2>Price</h2>

<%=  %>
                    <% @applist.price.last(1).each do |record| %>
                <%= record.game_purchase_price %>
                <%= record.created_at %>
              <% end %>
      <%= line_chart [ { name: "price", data: @applist.price.map { |record| record.slice(:created_at, :game_purchase_price).values }} ] %>

    </section>


        <section id="new">
      <h2>Hot News</h2>
      <dl>
        <% @applist.news.each do |record| %>
          <dt><%= link_to record.date, record.url %></dt>
          <dd><%= link_to record.title, record.url %></dd>
        <% end %>
      </dl>
    </section>


  </div>
</div>

<%# <%= render "shared/footer" %> %>

<footer>
  <small>Copyright&copy; <a href="index.html">SAMPLE COMPANY</a> All Rights Reserved.</small>
  <span class="pr">《<a href="https://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
</footer>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>