<%= render "shared/header" %>

<div id="container">
  <div id="contents">

    <section id="apps">
      <h3>Apps</h3>
      <%= render partial: 'shared/applist', locals: { applist: @applist } %>
    </section>

    <section id="screenshots">
      <h3>ScreenShots</h3>
      <div id="navi">
        <ul class="ex_clearfix">
        <% @applist.screenshot_hd.zip(@applist.screenshot_poor) do |screenshot_hd, screenshot_poor| %>
          <li><a href="<%=screenshot_hd.url%>"><img src="<%=screenshot_poor.url%>" width="60" height="60"></a></li>
        <% end %>
        </ul>
      </div>
      <div id="photo">
        <img src="<%=@applist.screenshot_hd[0].url%>" alt="orange" width="700" height="350">
      </div>
    </section>

    <section id="price">
      <h3>Price</h3>
      <%= line_chart [ { name: "price", data: @applist.price.map { |record| record.slice(:created_at, :game_purchase_price).values }} ] %>
    </section>

    <section id="news">
      <% unless @applist.news.blank?%>
        <h3>Hot News</h3>
        <dl><% @applist.news.last(5).each do |record| %>
          <%= link_to record.url do%>
            <dt><%= record.title %></dt>
            <dd>&nbsp;<%= record.contents %></dd>
          <% end %>
        <% end %></dl>
      <% end %>
    </section>

  </div>
</div>

<footer>
  <small>Copyright&copy; <a href="index.html">SAMPLE COMPANY</a> All Rights Reserved.</small>
  <span class="pr">《<a href="https://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
</footer>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>